{% extends 'base.html.twig' %}

{% block title %}Marque index{% endblock %}

{% block body %}
    <h1>Marque index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td>{{ marque.id }}</td>
                <td>{{ marque.name }}</td>
                <td>
                    <a href="{{ path('app_marque_show', {'id': marque.id}) }}">show</a>
                    <a href="{{ path('app_marque_edit', {'id': marque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_marque_new') }}">Create new</a>
{% endblock %}
